<ion-header>
  <!--<ion-toolbar color="primary">-->
    <!--<ion-title>错题本</ion-title>-->
  <!--</ion-toolbar>-->
  <app-nav-back [title]="'错题本'"></app-nav-back>
</ion-header>

<ion-content>

  <div *ngFor="let item of wrongArr" (click)="goDetail(item)">
    <app-wrong-question [title]="item['title']" [all]="item['all']" [err]="item['err']" [rate]="item['rate']*100"></app-wrong-question>
  </div>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="加载中...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
