.cet-display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cet-html-img {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  word-wrap: break-word;
  word-break: break-all;
}
.subject-selection[data-v-2f16f66e] {
  margin: 20px 0;
}
.cet-choice-img {
  width: 1.63rem;
  height: 1.63rem;
}
.cet-choice-img, .cet-pic-arrow {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.practice-answer[data-v-2f16f66e] {
  font-size: 16px;
  color: #f55a5e;
  margin-bottom: 10px;
}
.cet-display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cet-normal-font {
  font-size: 16px;
  color: #666;
}
.cet-normal-font {
  font-size: 16px;
  color: #666;
}