<ion-header>
  <ion-toolbar>
    <ion-title>管理面板</ion-title>
  </ion-toolbar>
  <!--<app-nav-back [title]="'管理面板'"></app-nav-back>-->
</ion-header>

<ion-content>

  <ion-list>

    <ion-item (click)="userManagement()">
      <ion-label>用户数据</ion-label>
      <ion-note slot="end"><img src="assets/icon/arrow.png"></ion-note>
    </ion-item>

    <ion-item (click)="signUpInfo()">
      <ion-label>报名情况</ion-label>
      <ion-note slot="end"><img src="assets/icon/arrow.png"></ion-note>
    </ion-item>

    <ion-item (click)="addMember()">
      <ion-label>添加用户</ion-label>
      <ion-note slot="end"><img src="assets/icon/arrow.png"></ion-note>
    </ion-item>

    <ion-item (click)="goAlterPassword()">
      <ion-label>修改密码</ion-label>
      <ion-note slot="end"><img src="assets/icon/arrow.png"></ion-note>
    </ion-item>

  </ion-list>

</ion-content>
