<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.anshily.dao.ExamAnswerMapper">
  <resultMap id="BaseResultMap" type="io.anshily.model.ExamAnswer">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="examid" jdbcType="INTEGER" property="examid" />
    <result column="question_title_id" jdbcType="INTEGER" property="question_title_id" />
    <result column="answer" jdbcType="VARCHAR" property="answer" />
    <result column="statu" jdbcType="INTEGER" property="statu" />
    <result column="add_time" jdbcType="TIMESTAMP" property="add_time" />
  </resultMap>

  <select id="getCountOne" resultType="Integer">
    select Count(id) from sw_exam_answer
        join
  </select>
</mapper>