<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.anshily.dao.QuestionTitleMapper">
  <resultMap id="BaseResultMap" type="io.anshily.model.QuestionTitle">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="exam_id" jdbcType="INTEGER" property="exam_id" />
    <result column="question_id" jdbcType="INTEGER" property="question_id" />
    <result column="statu" jdbcType="INTEGER" property="statu" />
    <result column="add_time" jdbcType="TIMESTAMP" property="add_time" />
  </resultMap>

  <select id="getQuestionTitleByExamid" resultType="io.anshily.model.QuestionTitle">
    select * from sw_question_title
         join sw_exam_message on sw_question_title.exam_id=sw_exam_message.id
    where  sw_exam_message.userid=#{userid} and sw_exam_message.id=#{examid}
  </select>
</mapper>