<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.anshily.dao.SimpleTestMapper">
  <resultMap id="BaseResultMap" type="io.anshily.model.SimpleTest">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="user_id" />
    <result column="question_id" jdbcType="INTEGER" property="question_id" />
    <result column="answer" jdbcType="VARCHAR" property="an er" />
    <result column="istrue" jdbcType="INTEGER" property="istrue" />
    <result column="statu" jdbcType="INTEGER" property="statu" />
    <result column="add_time" jdbcType="TIMESTAMP" property="add_time" />
  </resultMap>

  <select id="simpleQuestionTest" resultType="io.anshily.model.Question">
    select * from sw_question
        where sw_question.name=#{type}
    order by RAND() limit 200
  </select>
  <select id="orderQuestionTest" resultType="map">
    select question_bank_id from sw_question
    where sw_question.name=#{type}
  </select>

  <select id="getQuestionType" resultType="String">
    select sw_role.name from sw_role
        join sw_user_role on sw_role.id=sw_user_role.rid
        join sw_user on sw_user_role.uid=sw_user.id
        where sw_user.id=#{id}
  </select>

  <select id="simpleTestErr" resultType="io.anshily.model.SimpleTest">
    select * from sw_simple_test
    where user_id=#{id} and istrue=0
    group by question_id
  </select>

  <select id="getErrSumByQuestionId" resultType="Integer">
    select count(*) from sw_simple_test where question_id=#{questionid} and istrue=0
  </select>


  <select id="getSumByQuestionId" resultType="Integer">
    select count(*) from sw_simple_test where question_id=#{questionid}
  </select>

  <select id="normalTestErr" resultType="io.anshily.model.ExamAnswer">
    select * from sw_exam_answer
    join sw_exam_message on sw_exam_message.id=sw_exam_answer.examid
    where sw_exam_message.userid=#{id} and sw_exam_answer.istrue=0
    group by sw_exam_answer.question_title_id
  </select>

  <select id="getNormalErrSumByQuestionId" resultType="Integer">
    select count(id) from sw_exam_answer where question_title_id=#{questionid} and istrue=0
  </select>

  <select id="getNormalSumByQuestionId" resultType="Integer">
    select count(id) from sw_exam_answer where question_title_id=#{questionid}
  </select>


</mapper>