.wrong-box{
  background: #f8f8f8;
  border-radius: .3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: .81rem .63rem;
  margin-top: .94rem;
  min-height: 5.5rem;
}
.wrong-box .wrong-box-left {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.wrong-box img{
  width: .5rem;
  height: .8rem;
}
.wrong-box .wrong-box-left .wrong-content{
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.cet-html-img {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  word-wrap: break-word;
  word-break: break-all;
}
.wrong-box .wrong-box-left .wrong-info-box{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: .94rem;
}
.wrong-box .wrong-box-left .wrong-info-box button {
  background: #f55a5e;
  border-radius: .2rem;
  border: none;
  outline: none;
  color: #fff;
  padding: .1rem;
  width: 4.8rem;
  min-width: 5rem;
}
.wrong-box .wrong-box-left .wrong-info-box .wrong-info-text {
  font-size: .8rem;
  color: #666;
  line-height: 1.6rem;
  margin-left: .63rem;
}