<div class="wrong-box">
    <div class="wrong-box-left">
        <div class="wrong-content cet-html-img" [innerHTML]="title"></div>
        <div class="wrong-info-box">
            <button style="min-width: 5rem;">错误率{{rate}}%</button>
            <div class="wrong-info-text">考试次数{{all}}/错误次数{{err}}</div>
        </div>
    </div>
    <img
         src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAaCAYAAAC+aNwHAAAAAXNSR0IArs4c6QAAAKxJREFUOBGl1EEOhCAQRFHxSq48HXo6V54JU2AbO9J0gSQO4zj/BRLiNN3jOM4Nl9yzc8AfS5hiicK+rstWvvufQccS8MgsiZ5TZLdT2cKb8leSAST1reBJG3mAUUQBI8gH6EWqQA9iAizSBBjEBTzEOInIuOGuwDtgTcCLsUYTYGITYOMq0BN/gN5YASPxA4zGGfgTAzBOYvsthFBGPgd6FXwsSJ6BFEj97N5ccX+OYznzyFoAAAAASUVORK5CYII=">
</div>