<div class="CETPracticeType">
  <div class="cell-box">
    <div class="img-box"><img
            src="assets/icon/exam_types_random.png"
            class="img-type">
    </div>
    <div class="cell-info">
      <div class="cell-info-title">随机练题</div>
      <div class="cell-info-time">79题 90分钟</div>
      <div class="cell-info-describe">每次抽取200道题目进行随机练习</div>
    </div>
    <div class="img-right-box"><img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAaCAYAAAC+aNwHAAAAAXNSR0IArs4c6QAAAKxJREFUOBGl1EEOhCAQRFHxSq48HXo6V54JU2AbO9J0gSQO4zj/BRLiNN3jOM4Nl9yzc8AfS5hiicK+rstWvvufQccS8MgsiZ5TZLdT2cKb8leSAST1reBJG3mAUUQBI8gH6EWqQA9iAizSBBjEBTzEOInIuOGuwDtgTcCLsUYTYGITYOMq0BN/gN5YASPxA4zGGfgTAzBOYvsthFBGPgd6FXwsSJ6BFEj97N5ccX+OYznzyFoAAAAASUVORK5CYII=">
    </div>
  </div>
</div>