<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.anshily.architect.dao.ExamAnswerMapper">
  <resultMap id="BaseResultMap" type="io.anshily.architect.model.ExamAnswer">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="examid" jdbcType="INTEGER" property="examid" />
    <result column="question_title_id" jdbcType="INTEGER" property="question_title_id" />
    <result column="answer" jdbcType="VARCHAR" property="answer" />
    <result column="statu" jdbcType="INTEGER" property="statu" />
    <result column="add_time" jdbcType="TIMESTAMP" property="add_time" />
  </resultMap>

  <select id="getCountOne" resultType="Integer">
    select Count(id) from sw_exam_answer
    where istrue=1  and examid=#{examid}
  </select>

  <select id="getCountMore" resultType="Integer">
    select Count(sw_exam_answer.id) from sw_exam_answer
      join sw_question on sw_question.question_bank_id=sw_exam_answer.question_title_id
    where sw_exam_answer.istrue=1 and sw_question.question_type_id=2 and sw_exam_answer.examid=#{examid}
  </select>

  <update id="changeStatu">
    update sw_exam_message set grade=#{grade},statu=2 where id=#{examid}
  </update>

  <select id="getExamErr" resultType="io.anshily.architect.model.ExamAnswer">
    select question_title_id,answer FROM sw_exam_answer where istrue=0 and examid=#{examid}
  </select>

  <select id="getExamStatu" resultType="Integer">
    select statu from sw_exam_message where id=#{examid}
  </select>
</mapper>