<ion-header>

    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-icon name="arrow-back" style="font-size: 2rem"></ion-icon>
        </ion-buttons>
        <ion-title>B 类考试</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <app-question (updateResult)="updateResult($event)" [questionId]="'45380'"></app-question>

    <app-question (updateResult)="updateResult($event)" [questionId]="'43110'"></app-question>

    <app-question (updateResult)="updateResult($event)" [questionId]="'45064'"></app-question>

    <app-parent-question [questionId]="'45064'"></app-parent-question>

    <div style="position: fixed; bottom: 0;z-index: 99">

        <div style="display: flex;justify-content: space-around;align-items: center; width: 100vw;">

            <ion-button shape="round">上一题</ion-button>

            <ion-button shape="round">下一题</ion-button>

        </div>

    </div>
</ion-content>
