<ion-header>
    <!--<div style="width: 1rem;height: 2rem">首页</div>-->
    <ion-toolbar color="primary">
        <ion-title>首页</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <img style="width: 100vw" src="assets/pic_home_banner.jpg">

    <div style="display: flex;justify-content: space-around">

        <div (click)="navTo('/practicing')" class="nav">
            <img class="nav-img" src="assets/icon/free_practicing.jpg">
            <ion-label>自由练习</ion-label>
        </div>
        <div (click)="navTo('/do-wrong')" class="nav">
            <img class="nav-img" src="assets/icon/quests_done_wrong.jpg">
            <ion-label>错题本</ion-label>
        </div>
        <div (click)="navTo('/history')" class="nav">
            <img class="nav-img" src="assets/icon/history.jpg">
            <ion-label>历史考试</ion-label>
        </div>
        <div (click)="navTo('/mine')" class="nav">
            <img class="nav-img" src="assets/icon/user.jpg">
            <ion-label>个人中心</ion-label>
        </div>

    </div>

    <!--<ion-list>-->
        <!--<ion-item>-->

    <div>
        <div *ngFor="let item of examArr" (click)="goExam(item['id'])">
            <app-exam></app-exam>
        </div>
    </div>

</ion-content>

