<ion-header>
    <!--<div style="width: 1rem;height: 2rem">首页</div>-->
    <ion-toolbar color="primary">
    <ion-title>首页</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <img style="width: 100vw" src="assets/pic_home_banner.e4860e20.jpg">

    <div style="display: flex;justify-content: space-around">

        <div (click)="testNav()">
            <ion-icon slot="end" name="add-circle-outline"></ion-icon>
            <ion-label>自由练习</ion-label>
        </div>
        <div>
            <ion-icon slot="end" name="add-circle-outline"></ion-icon>
            <ion-label>错题本</ion-label>
        </div>
        <div>
            <ion-icon slot="end" name="add-circle-outline"></ion-icon>
            <ion-label>历史考试</ion-label>
        </div>
        <div (click)="navTo()">
            <ion-icon slot="end" name="add-circle-outline"></ion-icon>
            <ion-label>个人中心</ion-label>
        </div>

    </div>

    <ion-nav [root]="'app-test-nav'"></ion-nav>

    <div #hahaha>
        test
    </div>

</ion-content>

