<ion-header>
  <!--<ion-toolbar color="primary">-->
    <!--<ion-title>练习</ion-title>-->
  <!--</ion-toolbar>-->
  <app-nav-back [title]="'练习'"></app-nav-back>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>{{userType ? userType : 'A 类考试'}}</ion-label>
      <ion-note slot="end"> > </ion-note>
    </ion-item>
  </ion-list>

  <div (click)="startSimulate()">
    <app-simulate-exam></app-simulate-exam>
  </div>

  <div (click)="startRandom()">
    <app-random-practice></app-random-practice>
  </div>

  <div (click)="startSequence()">
    <app-sequence-practice></app-sequence-practice>
  </div>

    <ion-item (click)="optionsPracticing()">
        <ion-button>选项练题</ion-button>
    </ion-item>

</ion-content>
